@page
@model Vendas.Pages_Clientes.DeleteModel

@{
    ViewData["Title"] = "Deletar";
}




<div>
    <h3>Tem certeza que deseja exluir o cliente ?</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Endereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Cidade)
        </dd>
        <dt class="col-sm-2">
            Estado
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Uf)
        </dd>
        <dt class="col-sm-2">
            
            Data Criação
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.DataCriacao)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Cliente.Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar</a>
    </form>
</div>
