@page
@model Vendas.Pages_Clientes.DetailsModel

@{
    ViewData["Title"] = "Consulta";
}



<div>
    <h4>Consulta de Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Endereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Cidade)
        </dd>
        <dt class="col-sm-2">
            Estado
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Uf)
        </dd>
        <dt class="col-sm-2">
            Data Criação
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.DataCriacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cliente?.Id">Alterar</a> |
    <a asp-page="./Index">Voltar</a>
</div>
